body {
    font-family: Arial, sans-serif;
    padding: 0px 0px 66px;
}
.container {
    display: flex;
    padding: 16px 0px;
}
.navbar-right {
    display: flex;
    margin-left: 220px;
    margin-right: auto;
}
.navbar-right a {
    color: black;
    box-sizing: border-box;
    border: 0 solid;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.navbar-right a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #7E22CE;
}
.navbar-left {
    margin-left: 15px;
}
.navbar-left span {
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #7E22CE;
    text-align: left;
    text-decoration: none;
}
.buttonsnav {
    display: flex;
    margin-left: 10px;
}
.login, .signup {
    padding: 0.5rem 0.75rem;
    color: azure;
    font-weight: 600;
    border: none;
    background-color: #7E22CE;  
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 10px;
}  
.signup {
    margin-right: 0;
}  
.childnav {
    display: flex;
    margin-top: 20px;
    border: 1px solid;
    border-color: rgb(232, 209, 253);
    border-top-color: #d9aeff;
} 
.childmenu {
    display: flex;
    margin-left: 300px;
    margin-right: auto;
}
.childmenu a {
    color: #7E22CE;
    display: block;
    border: 0 solid;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}
.childmenu a:hover {
    color: #7E22CE;
    text-decoration: underline;
    text-decoration-color: #7E22CE;
}
.svg {
    margin-left: 15px;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #7E22CE;
    text-align: left;
    text-decoration: none;
}
.search-container {
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
}
.search-input {
    padding: 5px 2px;
    background-color: #f6f5f7;  
    border: none;
    height: fit-content; 
    width: fit-content;
    text-align: left;
    font-weight: 500;
    font-size: large;
    color: #070707;
    border-radius: 5px;
    cursor: pointer;
    background: url('img.svg') no-repeat;
    background-position: right 5px;
    background-size: 25px;
}
.search-input::placeholder {
    color: #999;
}
.search-input.clicked {
    border: 2px solid #7E22CE;
    cursor: text;
}
.container-main {
    display: flex;
    align-items: normal;
    position: static;
}
.text-portion {
    height: 100%;
    width: 50%;
    text-align: left;
    margin: 0px 5px;
    padding-left: 30px;
    padding-top: 35px;
}
.text-portion h1 {
    color: rgb(26, 25, 25);
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 0px;
}
.text-portion span {
    color: #7E22CE;
}
.text-portion h4 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text-portion p {
    color: rgb(107 114 128);
    margin-top: 0.5rem;
    font-size: 1.08rem;
    line-height: 1.5rem;
    font-weight: 500;
}
.buttons {
    display: flex;
    text-align: left;
    margin: 24px 0px 0px;
}
.button1 {
    color: rgb(244, 236, 236);
    background-color: black;
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-right: 10px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}
.button2 {
    color: black;
    background-color: rgb(209 213 219);
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}
.img-portion {
    height: 100%;
    width: 50%;
    opacity: 0.50;
    margin: 0px 5px;
}
.img-portion img {
    height: 100%;
    width: 100%;
}
.container-box {
    height: auto;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.container-box h2 {
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 600;
}
.boxes {
    display: flex;
    height: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-sizing: border-box;
    position: relative;
}
.box1, .box2, .box3 {
    display: grid;
    width: 33.33%;
    height: auto;
    justify-content: center;
    padding: 1rem;
}
.box1-contents, .box2-contents, .box3-contents {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 1rem;
    overflow: hidden;
    max-width: 24rem;
}
.box1 img, .box2 img, .box3 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border: none;
    border-radius: 10px;
}
.text1, .text2, .text3 {
    padding: 16px 24px;
}
.text1 h1, .text2 h1, .text3 h1 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    margin-bottom: .75rem;
}
.text1 p, .text2 p, .text3 p {
    font-size: 16px;
    line-height: 1.5rem;
    color: #374151;
    font-family: sans-serif;
    font-weight: 500;
}
.box1-button, .box2-button, .box3-button {
    padding: 16px 24px 8px;
}
.box1-button button, .box2-button button, .box3-button button {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: rgb(126 34 206);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box1-button :hover, .box2-button :hover, .box3-button :hover {
    background-color: rgb(187, 110, 255);
}
.container-testo {
    padding: 48px 20px;
}
.container-testo h1 {
    --tw-text-opacity: 1;
    text-align: center;
    color: #111827;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.container-testo p {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(107 114 128);
    font-family: sans-serif;
    font-weight: 500;
}
.text-testo1, .text-testo2 {
    padding: 32px 0px;
    text-align: center;
}
.text-testo1 h1, .text-testo2 h1 {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.text-testo1 p, .text-testo2 p {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: rgb(107 114 128);
    font-family: sans-serif;
    font-weight: 500;
}

.text-end1, .text-end2, .text-end3 {
    padding: 16px 24px;
}
.text-end1 h1, .text-end2 h1, .text-end3 h1 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    margin-bottom: .75rem;
}
.text-end1 p, .text-end2 p, .text-end3 p {
    font-size: 16px;
    line-height: 1.5rem;
    color: #374151;
    font-family: sans-serif;
    font-weight: 500;
}
.buttons-end {
    text-align: center;
}
.button-end {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: rgb(126 34 206);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.button-end :hover {
    background-color: rgb(187, 110, 255);
}

@media screen and (max-width: 768px) {
    .container, .childnav, .boxes {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-right {
        margin-left: 0;
        margin-right: 0;
    }
    .container-main, .img-portion, .text-portion {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .img-portion {
        order: -1;
        margin-bottom: 20px;
    }
    .childmenu, .boxes {
        margin-left: 0;
        margin-right: 0;
    }
    .box1, .box2, .box3 {
        width: 100%;
        padding: 1rem;
    }
    .container-testo {
        
    }
}
