<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codewithrihan</title>
    <link rel="stylesheet" type="text/css" href="/style/course-style.css">
    <link rel="stylesheet" type="text/css" href="/style/utility.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar-left">
                <span>
                    <b class="font-bold">&lt;/&gt;</b>
                    Code With Rihan
                </span>
            </div>
            <div class="navbar-right">
                <a href="/">Home</a>
                <a href="/courses">Courses</a>
                <a href="#tutorial">Tutorial</a>
                <a href="#blog">Blog</a>
                <a href="#notes">Notes</a>
                <a href="#contact">Contact</a>
                <a href="#mygear">My Gear</a>
                <a href="#workwithus">Work With Us</a>

                <svg stroke="#7E22CE" fill="#7E22CE" stroke-width="0" viewBox="0 0 16 16"
                    class="hidden md:block text-purple-700 mt-1 ml-2 cursor-pointer dark:text-white" height="28"
                    width="28" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
                    </path>
                    <path
                        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
                    </path>
                </svg>

                <div class="buttonsnav">
                    <button class="login">Login</button>
                    <button class="signup">SignUp</button>
                </div>
            </div>
        </div>
        <div class="childnav">
            <div class="svg">
                <svg stroke="#7E22CE" fill="#7E22CE" stroke-width="0" viewBox="0 0 1024 1024"
                    class="text-purple-700 text-xl cursor-pointer dark:text-purple-300" height="1.3em" width="1.3em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8 24.9-25 24.9-65.5-.1-90.5z">
                    </path>
                </svg>
            </div>
            <div class="childmenu">
                <a href="#html">HTML</a>
                <a href="#css">CSS</a>
                <a href="js">JS</a>
                <a href="#c">C</a>
                <a href="#c++">C++</a>
                <a href="#java">JAVA</a>
                <a href="#python">PYTHON</a>
                <a href="#php">PHP</a>
                <a href="#reactjs">REACT JS</a>
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input">
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1 class="heading">Premium Courses</h1>
        <section class="container-box">
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box2.jpg" alt="js">
                    <div class="text">
                        Free course
                        <h1>Ultimate JavaScript Course</h1>
                        <p>This latest JavaScript course comes with premium curriculum that covers everything from
                            basics to advance. On top of that, you will get my handwritten notes of JS for
                            completely
                            free. What are you waiting for? Just Enroll BuddyStart Watching</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box3.png" alt="react">
                    <div class="text">
                        Free course
                        <h1>React JS Tutorials For Beginners</h1>
                        <p>React is a free and open-source front-end JavaScript library. This series will cover
                            React
                            from starting to the end. We will learn react from the ground up!
                        </p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
        </section>
        <h1 class="heading2">More Courses</h1>
        <section class="container-box">
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box2.jpg" alt="js">
                    <div class="text">
                        Free course
                        <h1>Ultimate JavaScript Course</h1>
                        <p>This latest JavaScript course comes with premium curriculum that covers everything from
                            basics to advance. On top of that, you will get my handwritten notes of JS for
                            completely
                            free. What are you waiting for? Just Enroll BuddyStart Watching</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box3.png" alt="react">
                    <div class="text">
                        Free course
                        <h1>React JS Tutorials For Beginners</h1>
                        <p>React is a free and open-source front-end JavaScript library. This series will cover
                            React
                            from starting to the end. We will learn react from the ground up!
                        </p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-contents">
                    <img src="/images/box1.jpg" alt="python">
                    <div class="text">
                        Free course
                        <h1>Python Tutorials - 100 Days of Code</h1>
                        <p>Python is one of the most demanded
                            programming languages in the job
                            market. Surprisingly, it is equally easy to
                            learn and master Python. Let's commit
                            our 100 days of code to python!</p>
                    </div>
                    <div class="box-button">
                        <button>Start Learning</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-footer">
        <div class="left">
            <img src="/images/logo-blue.png" alt="logo">
            <div class="logo-name">
                Code With Rihan
            </div>
        </div>
        <div class="center">
            Copyright © 2024 CodeWithHarry.com
        </div>
        <div class="right">
            <a href="https://www.facebook.com/RoohUllahRihan" target="_blank" class="facebook-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M22.675 0H1.325C.593 0 0 .593 0 1.326v21.348C0 23.407.593 24 1.325 24H12.82v-9.293H9.691v-3.622h3.129V8.414c0-3.1 1.893-4.788 4.658-4.788 1.325 0 2.463.099 2.797.143v3.245l-1.918.001c-1.504 0-1.796.715-1.796 1.763v2.31h3.591l-.467 3.622h-3.124V24h6.127c.73 0 1.323-.593 1.323-1.326V1.326C24 .593 23.407 0 22.675 0z"/>
                </svg>
            </a>
            <a href="https://www.twitter.com/RoohUllahRihan" target="_blank" class="twitter">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M23.954 4.569c-.885.392-1.83.656-2.825.775a4.932 4.932 0 0 0 2.163-2.723 9.864 9.864 0 0 1-3.127 1.194 4.924 4.924 0 0 0-8.388 4.49A13.978 13.978 0 0 1 1.671 3.149a4.932 4.932 0 0 0 1.524 6.573 4.902 4.902 0 0 1-2.229-.616v.061a4.935 4.935 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.224.084 4.936 4.936 0 0 0 4.604 3.417A9.873 9.873 0 0 1 .956 19.56a13.951 13.951 0 0 0 7.548 2.212c9.058 0 14.002-7.497 14.002-13.986 0-.213-.005-.425-.014-.637A10.025 10.025 0 0 0 24 4.557a9.81 9.81 0 0 1-2.046 2.012z"/>
                </svg>  
            </a>
            <a href="https://www.instagram.com/RoohUllahRihan" target="_blank" class="instagram">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M12 0c3.31 0 3.717.013 5.018.073 1.252.058 2.1.243 2.73.512.667.288 1.224.674 1.778 1.228.553.553.94 1.11 1.228 1.778.269.63.454 1.478.512 2.73.06 1.301.073 1.708.073 5.018s-.013 3.717-.073 5.018c-.058 1.252-.243 2.1-.512 2.73-.288.667-.674 1.224-1.228 1.778-.553.553-1.11.94-1.778 1.228-.63.269-1.478.454-2.73.512-1.301.06-1.708.073-5.018.073s-3.717-.013-5.018-.073c-1.252-.058-2.1-.243-2.73-.512-.667-.288-1.224-.674-1.778-1.228-.553-.553-.94-1.11-1.228-1.778-.269-.63-.454-1.478-.512-2.73C.013 15.717 0 15.31 0 12s.013-3.717.073-5.018c.058-1.252.243-2.1.512-2.73.288-.667.674-1.224 1.228-1.778.553-.553 1.11-.94 1.778-1.228.63-.269 1.478-.454 2.73-.512C8.283.013 8.69 0 12 0m0-2C8.629-2 8.197-.997 6.528-.924 4.89-.851 4.153-.68 3.503-.34c-.776.402-1.45.977-2.124 1.65-.673.673-1.248 1.348-1.65 2.124-.34.65-.511 1.387-.584 3.025C-.997 8.197-2 8.629-2 12s.997 3.803 1.35 5.472c.073 1.638.244 2.375.584 3.025.402.776.977 1.45 1.65 2.124.673.673 1.348 1.248 2.124 1.65.65.34 1.387.511 3.025.584 1.669.073 2.101.073 5.472.073s3.803-.997 5.472-1.35c1.638-.073 2.375-.244 3.025-.584.776-.402 1.45-.977 2.124-1.65.673-.673 1.248-1.348 1.65-2.124.34-.65.511-1.387.584-3.025C26.003 15.803 26 15.31 26 12s.003-3.803-1.35-5.472c-.073-1.638-.244-2.375-.584-3.025-.402-.776-.977-1.45-1.65-2.124-.673-.673-1.348-1.248-2.124-1.65-.65-.34-1.387-.511-3.025-.584C15.803-.997 15.31-2 12-2zm0 5.818c-3.403 0-6.182 2.779-6.182 6.182s2.779 6.182 6.182 6.182 6.182-2.779 6.182-6.182-2.779-6.182-6.182-6.182zm0 10.3a4.118 4.118 0 1 1 0-8.236 4.118 4.118 0 0 1 0 8.236zm6.406-11.642a1.44 1.44 0 1 1-2.88 0 1.44 1.44 0 0 1 2.88 0z"/>
                </svg>
            </a>
            <a href="https://www.github.com/RoohUllahRihan" target="_blank" class="github">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M12 0a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2.2c-3.3.7-4-1.6-4-1.6-.6-1.5-1.4-1.9-1.4-1.9-1.1-.7.1-.7.1-.7 1.2.1 1.8 1.2 1.8 1.2 1.1 1.8 2.9 1.3 3.6 1 .1-.8.4-1.3.7-1.6-2.7-.3-5.5-1.4-5.5-6a4.7 4.7 0 0 1 1.2-3.2c-.1-.3-.6-1.5.1-3.1 0 0 1-.3 3.3 1.2a11.3 11.3 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8.1 3.1a4.7 4.7 0 0 1 1.2 3.2c0 4.6-2.8 5.7-5.5 6 .4.3.8 1 .8 2v3c0 .3.2.7.8.6A12 12 0 0 0 12 0z"/>
                </svg>
            </a>
        </div>
    </footer>
    <script src="/scipts/script.js"></script>
</body>

</html>